@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.red-container{
    position: relative;
    display: inline-block;
}

.smaller-red-container{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;
}

.player{
    width: 100%;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.player-health{
    height: 30px;
    width: 100%;
    background-color: #ffff00;
}

.player-hp{
    position: absolute;
    background-color: #0000ff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.timer{
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    flex-shrink: 0;
    font-family: 'Shojumaru', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy{
    width: 100%;
    height: 30px;
    position: relative;
}

.enemy-health{
    height: 30px;
    background-color: #ffff00;
}

.enemy-hp{
    position: absolute;
    background-color: #0000ff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tie{
    position: absolute;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    font-family: 'Shojumaru', cursive;
}